<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>WebCam Stream</title>
  </head>
  <body>
    <h1>WebCam Stream</h1>
    <img id="webcamImage" src="{{ image }}" width="640" height="480" />
    <button onclick="updateWebcamImage()">Update Image</button>

    <script>
      function updateWebcamImage() {
        fetch("/update_image")
          .then((response) => response.blob())
          .then((data) => {
            const imageURL = URL.createObjectURL(data);
            document.getElementById("webcamImage").src = imageURL;
          });
      }
    </script>
  </body>
</html>
